.cards .cards-card-body > h2, .cards .cards-card-body > h3, .cards .cards-card-body > h4 {
  margin-bottom: 18px; /* Add spacing below headings */
}

.cards-wrapper > .cards.block > ul {
  display: flex; /* Use flexbox to align cards side by side */
  flex-direction: row; /* Arrange cards horizontally */
  list-style: none; /* Remove bullet points */
  margin: 0 auto; /* Center the block horizontally */
  padding: 64px 0; /* section padding */
  justify-content: center; /* Align cards horizontally */
}

.cards-wrapper > .cards.block > ul > li {
  background-color: var(--background-color); /* White bg for cards */
  overflow: hidden; /* Prevent content overflow */
  border-radius: 64px; /* Add rounded corners */
  padding: 64px; /* Increase internal padding to make cards taller */
  margin: 0 10px; /* Set margins */
  box-sizing: border-box; /* Include padding and border in element's total width */
  flex: 1; /* Ensure equal card width */
  display: flex; /* Use flexbox for internal card layout */
  flex-direction: column; /* Stack image and text vertically */
  position: relative; /* Position relative for absolute positioning of child elements */
}

.cards-wrapper > .cards.block > ul > li .cards-card-image {
  display: flex; /* Use flexbox for image layout */
  justify-content: left; /* Center image horizontally */
  align-items: center; /* Center image vertically */
  width: 100%; /* Ensure the image section occupies full width */
  margin-bottom: 24px; /* Increase spacing below the image */
}

.cards-wrapper > .cards.block > ul > li .cards-card-image img {
  width: 100px; /* Decrease image size to match original proportions */
  height: auto; /* Maintain aspect ratio */
}

.cards-wrapper > .cards.block > ul > li .cards-card-body {
  display: flex; /* Use flexbox for text layout */
  background-color: var(--background-color); /* Set card background to white */
  padding-bottom: 40px; /* Increase bottom padding for button spacing */
  margin: 0; /* Reset margins */
  flex-direction: column; /* Stack text elements vertically */
  align-items: flex-start; /* Align text to the left */
  width: 100%; /* Ensure the body section occupies full width */
}

.cards-wrapper + .default-content-wrapper > p {
  font-size: 12px; /* Adjust font size for footnote text following cards */
}

.cards-wrapper > .cards.block > ul > li .cards-card-body p {
  margin-bottom: 24px; /* Add spacing below the title */
  margin-top: 0; /* Reset top margin */
} 

.cards-wrapper > .cards.block > ul > li .cards-card-body p.button-container{
  position: absolute; /* Position button container absolutely */
  bottom: -20px; /* Position button at the bottom of each card with 24px spacing */
  margin-bottom: 64px; /* Add spacing below the button */
}

.cards-wrapper > .cards.block > ul > li .cards-card-body p picture img {
  width: 100px; /* Set image width to 100px */
  height: auto; /* Maintain aspect ratio */
}

.cards-wrapper > .cards.block > ul > li .cards-card-body h2 {
  color: var(--c-citrus); /* Use orange citrus color for title text */
}

.cards-wrapper > .cards.salmon.block > ul {
  display: flex; /* Use flexbox to align cards side by side */
  flex-flow: row wrap; /* Arrange cards horizontally */ /* Allow cards to wrap to the next line */
  list-style: none; /* Remove bullet points */
  margin: 0 auto; /* Center the block horizontally */
  padding: 0; /* section padding */
  justify-content: center; /* Align cards horizontally */
  row-gap: 16px; /* Add spacing between rows */
}

.cards-wrapper > .cards.salmon.block > ul > li {
  background-color: #fdefe7;
  border-radius: 24px;
  display: flex; /* Use flexbox to align cards side by side */
  flex: 1 0 26%; /* Allow cards to grow and shrink */
  padding: 40px 36px; /* section padding */
}

.cards-wrapper > .cards.block > ul > li .cards-card-body ul {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
}

.cards-wrapper > .cards.block > ul > li .cards-card-body ul li {
  font-size: 14px; /* Adjust font size for list items */
  color: var( --text-color); /* Use gray color for body text */
  margin-bottom: 8px; /* Add more spacing between list items */
  font-weight: 400; /* Increase font weight for better readability */
}

.cards-wrapper > .cards.salmon.block > ul > li > .cards-card-body {
  background-color: unset; /* Reset background color */
  padding-bottom: 0; /* Reset bottom padding */
}

.cards-wrapper > .cards.salmon.block > ul > li > .cards-card-body > p {
  margin-bottom: 6px; /* Add spacing below the title */
}

.cards-wrapper > .cards.salmon.block > ul > li > .cards-card-body > h3 {
  margin-bottom: 0; /* Reset bottom margin */
}

.cards-wrapper > .cards.salmon.block > ul > li > .cards-card-body > p > strong {
  color: #1b252c;
  margin-bottom: 6px;
}

@media (width <= 1024px) {
  .cards-wrapper > .cards.block > ul {
    flex-direction: column; /* Stack cards vertically on smaller screens */
    gap: 20px; /* Adjust spacing between stacked cards */
  }

  .cards-wrapper > .cards.block > ul > li {
    width: 100%; /* Ensure cards take full width on smaller screens */
    flex-direction: column; /* Keep image and content vertically stacked */
  }

  .cards-wrapper > .cards.block > ul > li .cards-card-image {
    margin-bottom: 16px; /* Adjust spacing below image for smaller screens */
  }

  .cards-wrapper > .cards.block > ul > li .cards-card-body {
    align-items: center; /* Center-align text for smaller screens */
  }

  .cards-wrapper > .cards.salmon.block > ul > li .cards-card-body {
    align-items: unset; /* Left-align salmon biomarker cells text */
  }

  .cards-wrapper > .cards.salmon.block > ul {
    display: flex; /* Use flexbox to align cards side by side */
    flex-flow: column; /* Arrange cards horizontally, no wrap for mobile sizes */
    list-style: none; /* Remove bullet points */
    margin: 0 auto; /* Center the block horizontally */
    padding: 0; /* section padding */
    justify-content: center; /* Align cards horizontally */
  }
}
