.columns > div {
  display: flex;
  flex-direction: column;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
  
  #main > div.section.columns-container > div:nth-child(4) > div > div > div.columns-img-col {
    flex: 0;
    order: unset;
  }
}
