
.accordion-wrapper {
  display: flex; /* Flex container for outer wrapper */
  flex-direction: column; /* Stack elements vertically */
  margin: 0 auto; /* Center horizontally */
  padding: 2rem; /* Add padding around the block */
  background-color: #fff; /* Set white background */
}

.accordion-wrapper > .accordion.block {
  display: flex; /* Flex container for accordion block */
  flex-direction: column; /* Stack accordion items vertically */
  gap: 2rem; /* Ensure spacing between accordion items */
}

.accordion-wrapper > .accordion.block > details {
  border: none; /* Remove full border */
  padding-bottom: 1rem; /* Add spacing below each accordion item */
}

.accordion-wrapper > .accordion.block > details summary {
  display: flex; /* Enable side-by-side layout */
  flex-direction: row; /* Align items horizontally */
  justify-content: space-between; /* Space text and caret icon */
  align-items: center; /* Center text and caret vertically */
  padding: 0; /* Remove default padding */
  cursor: pointer; /* Add interactivity */
  border-bottom: 1px solid #B6B7DA; /* Add bottom border for separation */
}

.accordion-wrapper > .accordion.block > details summary p {
  font-size: 1.2rem; /* Medium font size for questions */
  font-weight: bold; /* Bold text for emphasis */
  color: #004a7c; /* Navy blue text color */
  margin: 0; /* Remove default margins */
}

.accordion-wrapper > .accordion.block > details summary::after {
  content: '';
  position: absolute;
  width: 13px; /* Increase caret size */
  height: 13px; /* Increase caret size */
  border: 2px solid #f60; /* Orange caret color */
  border-width: 2px 2px 0 0; 
  transform: rotate(-45deg); /* Create caret shape */
  transition: transform 0.2s; /* Smooth rotation */
  margin-right: 2px;
  right: 30px;
}

.accordion-wrapper > .accordion.block > details[open] summary::after {
  transform: rotate(135deg); /* Rotate caret when open */
}

.accordion-wrapper > .accordion.block > details .accordion-item-body {
  font-size: 1rem; /* Regular font size for body text */
  color: var(--text-color); /* Gray-ish blue color for body content */
  background-color: transparent; /* Remove background color */
}

.default-content-wrapper h2 {
  font-size: 30px; /* Large font size for title */
  font-weight: bold; /* Bold text for emphasis */
  color: var(--c-citrus); /* Navy blue text color */
  margin-bottom: 1rem; /* Add spacing below title */
}

.accordion-item-label h3 {
  color: var(--c-navy);
  margin-right: 32px;
}