 /* /blocks/footer/footer.css */

 footer {
  color: white;
  font-size: 16px;
  line-height: 24px;

  .block.footer {
    border-top: solid 1px var(--dark-color);
  
    a {
      all: unset;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
        color: orange;
      }
    }
    & > div {
      background-color: #e4eaee;
      margin: 0 auto;
      width: 100%;
      }
      
      & > div:first-child {
      background-color: #004b6e;
      padding: 64px 24px;
       }
    }
    .columns > div > div {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    .columns > div > div:first-child {
      img {
        width:fit-content;
        height: fit-content;
        object-fit: cover;
        margin: 0 auto;
        display: block;
      }
    }
    .columns > div > div:last-child {
      img {
        width: 25px;
        height: 14px;
        padding-left: 5px;
      }
    }
  }
@media (width >= 900px) {
  footer .block.footer > div {
    padding: 40px 32px 24px;
  }
}