
/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
 :root {
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #5d666f;
  --link-color: #004b6e;
  --link-hover-color: #ef5f17;
  --c-citrus: #ef5f17;
  --c-slate: #5d666f;
  --c-navy: #004b6e;
  --c-soft-black: #1b252c;
  --c-teal: #88d7d4;
  --c-light-teal: #b9e7e5;
  --c-deep-teal: #00727f;
  --c-light-salmon: #fdefe7;
  --c-light-pink: #efeff7;
  --body-font-family: "Roboto", "Roboto Fallback", "sans-serif";
  --heading-font-family: "Roboto", "Roboto Fallback", "sans-serif";
  --heading-condensed-font-family: "Roboto Condensed", "Roboto Fallback", "sans-serif";
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 10.72px;
  --heading-font-size-xxl: 50px;
  --heading-font-size-xl: 30px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 20px;
  --heading-font-size-s: 18px;
  --heading-font-size-xs: 10.72px;
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family:"Roboto Fallback";
  font-style:normal;
  font-weight:700;
  src:local("Arial Bold");
  ascent-override:100.00%;
  descent-override:26.32%;
  line-gap-override:0.00%;
  size-adjust:92.78%;
}

@font-face {
  font-family:"Roboto Fallback";
  font-style:normal;
  font-weight:400;
  src:local("Arial");
  ascent-override:92.43%;
  descent-override:24.32%;
  line-gap-override:0.00%;
  size-adjust:100.37%;
}

@font-face {
  font-family:"Roboto Condensed Fallback";
  font-style:normal;
  font-weight:900;
  src:local("Arial Bold");
  ascent-override:109.94%;
  descent-override:28.93%;
  line-gap-override:0.00%;
  size-adjust:84.38%;
}

@font-face {
  font-family:"Roboto Fallback";
  font-style:italic;
  font-weight:400;
  src:local("Arial Italic");
  ascent-override:95.14%;
  descent-override:25.04%;
  line-gap-override:0.00%;
  size-adjust:97.52%;
}

@font-face {
  font-family:"Roboto Fallback";
  font-style:italic;
  font-weight:700;
  src:local("Arial Bold Italic");
  ascent-override:102.93%;
  descent-override:27.09%;
  line-gap-override:0.00%;
  size-adjust:90.13%;
}

@media (width>=900px) {
  :root {
    --body-font-size-m: 16px;
    --body-font-size-s: 14px;
    --body-font-size-xs: 10.72px;
    --heading-font-size-xxl: 50px;
    --heading-font-size-xl: 30px;
    --heading-font-size-l: 24px;
    --heading-font-size-m: 20px;
    --heading-font-size-s: 18px;
    --heading-font-size-xs: 10.72px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 24px;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header, footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"], footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: #000;
  color: #fff;
  opacity: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; 
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 {
  font-size: var(--heading-font-size-xxl);
  color: var(--c-navy);
}

h1 > del {
  color: var(--c-citrus);
  text-decoration: none;
}

h2 {
  font-size: var(--heading-font-size-xl);
  color: var(--c-navy);
  line-height: 36px;
  margin: 0;
  margin-bottom: 24px;
}

h2 > del {
  color: var(--c-citrus);
  text-decoration: none;
}

h3 {
  font-size: var(--heading-font-size-l);
  color: var(--c-citrus);
  line-height: 36px;
}

h3 > del {
  color: var(--c-navy);
  text-decoration: none;
}

h4 {
  font-size: var(--heading-font-size-m);
  color: var(--c-citrus);
  line-height: 24px;
  margin: 0;
  margin-bottom: 12px;
}

h4 > del {
  color: var(--c-navy);
  text-decoration: none;
}

h5 {
  font-size: var(--heading-font-size-s);
  color: var(--c-navy);
}

h5 > del {
  color: var(--c-citrus);
  text-decoration: none;
}

h6 {
  font-size: var(--heading-font-size-xs);
  color: var(--c-citrus);
}

h6 > del {
  color: var(--c-navy);
  text-decoration: none;
}

sup {
  font-size: 12px;
  line-height: 18px;
  vertical-align: unset;
  display: block;
}

p, dl, ol, ul, pre, blockquote {
  margin: 0;
  margin-top: 0.8em;
  margin-bottom: 12px;
  padding: 0;
  list-style-position: outside;
}

ul li {
  margin: 0;
  margin-left: 16px;
  margin-bottom: 4px;
  padding: 0;
}

code, pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main>div {
  margin: 40px 16px;
}

input, textarea, select, button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link, button.primary {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: white;
  color: var(--c-navy);
}

a.button.secondary:hover, a.button.secondary:focus, button.secondary:hover, button.secondary:focus {
  background-color: var(--link-hover-color);
  color: var(--light-color);
  cursor: pointer;
}


main img {
  max-height: 100%;
  width: auto;
  height: auto;
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #b6b7da;
  margin-bottom: 48px;
  margin-top: 48px;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
} 

.icon img {
  height: 100%;
  width: 100%;
}

.button>.icon {
  margin-left: 8px;
  height: 13px;
  width: 13px;
}

/* Alignment of authored block cells */
.center, [data-align="center"] {
  text-align: center;
    background-position-x: center;
}

[data-valign="bottom"] {
    align-content: end;
    background-position-y: bottom;
}

[data-valign="middle"] {
    align-content: center;
    background-position-y: center;
}

[data-valign="top"] {
    align-content: start;
    background-position-y: top;
}

[data-align="right"] {
    text-align: right;
    background-position-x: right;
}

[data-align="left"], [data-align="justify"] {
    text-align: left;
    background-position-x: left;
}

/* sections */

main>.section {
  margin: 40px 0;
}

main > div > div {
  position: relative;
  display: block;
  max-width: 1120px;
  padding: 0 24px;
  margin: 0 auto;
}

main > .section:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

.section[data-background] {
  position: relative;
  margin: 0;
  padding: 64px 0;
}

.section[data-theme] {
  margin: 0;
  padding-bottom: 5px;
}

.section[data-background] picture.section-background-image {
  position: absolute;
  inset: 0;
}

div.section.columns-container .eyebrow {
  color: var(--c-citrus);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0;
}

div.section.columns-container img {
  width: 100px;
}

.section[data-background] picture.section-background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section[data-theme='deep-teal'] {
  background-size: 100% 100%;
  background-position: 0 0,0 0;
  background-image: linear-gradient(6deg, #004A71 0%, #237C9A 49%, #35AEB6 100%);
  color: white;

  & h1 {
    color: var(--c-teal);
  }
}

div.section.columns-container p {
  color: var(--c-navy);
}

div.section.columns-container .columns-img-col {
  flex: 1;
}

#main > div.section.cards-container.columns-container > div.columns-wrapper > div > div > div:nth-child(1) > p:nth-child(1) > picture > img {
  width: 268px;
}

#main > div.section.cards-container.columns-container > div.columns-wrapper > div > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

#main > div.section.cards-container.columns-container > div.columns-wrapper > div > div > div:nth-child(2) {
    background-color: var(--c-light-teal);
    border-radius: 30px;
    padding: 36px;
    color: var(--c-navy);
}

.columns.teal-2.block.columns-2-cols {
  margin-top: 64px;
}

.columns.teal-2.block.columns-2-cols p:nth-child(1) {
  margin: 0;
}

.columns.teal-2.block.columns-2-cols ul li {
  margin-bottom: 11px;
}

@media (width >= 768px) {
  .section[data-theme='deep-teal'] {
    background-size: 2880px 100%;
    background-position: 0 0,0 0;
    background-image: radial-gradient(78% 91% at 51% 96%, #004A71 21%, #0FF0 75%, #0FF0 100%),
    linear-gradient(90deg, #6E90B6 0%, #3283A1 46%, #2FAAB2 100%);
  }
}

@media (width>=1200px) {
  main > div >div {
    padding: 0 160px;
  }
}

/* section metadata */
main .section.light, main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

.section.hidden {
  display: none;
}